body{
	background-color: #E5E8E8;
	font-family: courier;
}

.container{
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 700px;
	background-color: white;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 5px #CCD1D1;
}

h1{
	color: #C0392B;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 0px;
}

.line{
	/*	border: .5px solid #CCD1D1;*/
	box-shadow: 0px 5px 0px 1px #CCD1D1;
	opacity: .7;
}

form{
	margin-top: 10px;
	padding: 5px 70px;
}

form input[type="text"]{
	width: 270px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid #CCD1D1;
	margin-bottom: 5px;
	padding: 5px 5px;
}

textarea{
	height: 70px !important;
	vertical-align: top;
	width: 270px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 5px;
	border: 1px solid #CCD1D1;
}

input[type="date"]{
	margin-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #CCD1D1;
}

input[name="mstatus"]{
	margin-top: 5px;
}
input[name="award"]{
	margin-top: 5px;
}

h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

label{
	font-size: 13px;
	padding-left: 5px;
}

table tr td{
	position: relative;
	margin-top: 0px;
}


